services:
  firewall:
    build:
      context: ../..
      dockerfile: docker/firewall/Dockerfile_firewall
    image: ${COMPOSE_PROJECT_NAME}-firewall:latest
    network_mode: bridge
    security_opt:
      - no-new-privileges:false
    cap_add:
      - NET_ADMIN
      - NET_RAW
    stdin_open: true
    tty: true
    restart: unless-stopped
